.home {
	padding: 2rem;
	min-height: 100%;
	width: 100%;
}

.button{
    padding: .5rem 2rem;
    color: #FA0;
    background-color: #666;
    border-radius: .5rem;
    border: 1px solid #FA0;
}

.row{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem
}

.panel{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    margin: .25rem;
    padding: 0px;

    font-size: 5rem;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);

    color: #FA0;
    background-color: #444;
    border-radius: .5rem;
    border: 1px solid #FA0;
}

.nested{
    padding: 1rem;
    gap: 1rem;
    background-color: #000;
}

.vertical{
    flex-direction: column;
}

