html, body {
    position: relative;
    height: 100%;
    padding: 0!important;
    margin: 0!important;
}

.container {
    position: relative;
    margin-top: 5rem;
    overflow: hidden;
    background-color: #333;
}

.item {
    position: absolute;
    width: 100px;
    color: white;
    text-align: center;
}

.item:nth-child(6n + 1) {
    background: #f55;
    height: 200px;
}

.item:nth-child(6n + 2) {
    background: #7e7;
    height: 300px;
}

.item:nth-child(6n + 3) {
    background: #66e;
    height: 200px;
}

.item:nth-child(6n + 4) {
    background: #4af;
    height: 100px;
}

.item:nth-child(6n + 5) {
    background: #ed5;
    height: 150px;
}

.item:nth-child(6n + 6) {
    background: #d5e;
    height: 130px;
}
